language: python
sudo: false
python:
    - 2.7
    - 3.5
    - 3.6
    - 3.7
install:
    - pip install -U setuptools==39.1.0 zc.buildout==2.11.4 six==1.11.0 coveralls
    - buildout
script:
    - coverage run bin/test -v1
notifications:
    email: false
after_success:
    - coveralls
cache:
  pip: true
  directories:
    - eggs/
